.footer {
  font-size: 14px;
  color: $link-foot;

  &__top {
    padding: 80px 0 63px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a3bbc8;
  }

  &__contact {
    max-width: 210px;
  }

  &__address {
    margin-top: 25px;
    font-style: normal;
  }

  &__contact-link {
    display: block;
    margin-bottom: 20px;

    &:hover {
      color: $title;
    }
  }

  &__nav {
    max-width: 250px;
  }

  &__heading {
    margin: 17px 0;
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__link {
    margin-bottom: 11px;
    display: block;

    &:hover {
      color: $title;
    }
  }

  &__text {
    display: block;
    max-width: 240px;
    margin-bottom: 39px;
    cursor: pointer;
  }

  &__label {
    font-size: 0;
  }

  &__form-wrapper {
    display: flex;
  }

  &__input {
    max-width: 160px;
    width: 100%;
    padding: 6px;
    background-color: #fef7f0;
    // border: none;
    border: 2px solid transparent;

    &:focus {
      border: 2px solid $link-bg;
      outline-color: transparent;
    }

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    padding: 6px 10px;
    color: #fff;
    background-color: $link-bg;
    @extend %dmsans-400;
    border: none;
    text-transform: uppercase;

    &:active {
      background-color: $link-foot;
      outline-color: transparent;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 28px;
  }

  &__bottom-list {
    display: flex;
    align-items: center;
  }

  &__bottom-link {
    display: inline-block;

    &:hover {
      color: $title;
    }
  }

  &__bottom-item {
    line-height: 18px; //для бордера

    &+& {
      margin-left: 20px;
    }

    &:not(:last-child) {
      padding-right: 13px;
      border-right: 1px solid#7b7b7b;
    }
  }
}